<link rel="shortcout icon" href="../assets/img/icon.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amethysta">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<title>Inicio</title>

<nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: rgb(218,218,218);height: 100px;">
	<div class="container">
		<!--Brand-->
		<a class="navbar-brand" href="#">
			<img src="../assets/img/logo.png" style="width: 500px;">
		</a>
		<!--Buttons-->
		<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="nav navbar-nav ml-auto" style="font-size: 20px; font-family: ABeeZee, sans-serif;">
				<li class="nav-item" role="">
					<a class="nav-link" routerLink="/">Inicio</a>
				</li>
				<li class="nav-item" role="">
					<a class="nav-link" routerLink="/consult">Consultas</a>
				</li>
				<li class="nav-item" role="">
					<a class="nav-link" routerLink="/create">Crear</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Routing & Navigation -->
<router-outlet></router-outlet>
<!--Shouldn't exist content here-->

<div style="background-color: #dddddd;">
	<div class="container">
		<div class="row d-xl-flex">
			<div class="col-md-6 d-xl-flex justify-content-xl-center">
				<p class="text-center d-xl-flex" style="margin-top: 15px;font-size:20px;">Departamento de Arquitetura Empresarial 2019<br></p>
			</div>
			<div class="col-md-6 d-xl-flex justify-content-xl-center">
				<p style="margin-top: 15px;font-size: 20px;">© Banco Davivienda S.A</p>
			</div>
		</div>
	</div>
</div>