<link rel="shortcout icon" href="../assets/img/icon.png">
<title>Inicio</title>

<!--Nav Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<!--Brand-->
	<a class="navbar-brand"><img src="../assets/img/logo.png" alt="icon.png" width="40" height="40"></a>
	<!--Buttons-->
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="nav nav-tabs mr-auto">
			<li class="nav-item">
				<a class="nav-link text-dark " routerLink="/" >Inicio <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark"  routerLink="/consult">Consultas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark"  routerLink="/create">Creacion</a>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link text-dark" routerLink="/modify">Modificación</a>
			</li>
		</ul>
	</div>
</nav>

<!-- Routing & Navigation -->
<router-outlet><router-outlet>
	<!--Shouldn't exist content here-->
	